<mat-card>
  <mat-card-header>
    <mat-card-title>List of stadiums</mat-card-title>
    <mat-card-subtitle>available on API</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list *ngIf="service.stadiums$ | async as stadiums">
      <mat-list-item *ngFor="let item of stadiums; trackBy: trackById">
        {{ item?.name }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions align="start">
    <sb-add-stadium *ngIf="showAdd" (close)="showAdd = false"></sb-add-stadium>
    <button mat-button (click)="onAdd()" *ngIf="!showAdd">Add Stadium</button>
    <button mat-button (click)="service.init()">Refresh</button>
  </mat-card-actions>
  <mat-card-footer>
    Footer of the "List of Stadiums" page
  </mat-card-footer>
</mat-card>
