<mat-card>
  <mat-card-header>
    <mat-card-title>List of Events</mat-card-title>
    <mat-card-subtitle>loaded fresh from the API</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let item of (service.events$ | async); trackBy: trackById">
        <h3 matLine> {{ item.name }} </h3>
        <p matLine>when: {{ item.startTime | date }}</p>
        <p matLine>where: {{ item.stadiumId }}</p>
        <button mat-button (click)="onDelete(item.id)">Delete</button>
      </mat-list-item>
      <mat-list-item *ngIf="showAdd">
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
