<form [formGroup]="addForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-form-field><input
    matInput
    type="text"
    name="name"
    formControlName="name"
    placeholder="Event Title"
    >
    <mat-error *ngIf="addForm.controls.name.invalid">Title cannot be empty!</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      formControlName="startTime"
      matInput [matDatepicker]="datepicker"
      placeholder="Choose a date"
    >
    <mat-error *ngIf="addForm.controls.startTime.invalid">Please specify a start date!</mat-error>
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker touchUi="true"></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      formControlName="stadiumId"
      placeholder="Select Stadium">
      <mat-option
        *ngFor="let stadium of stadiums"
        [value]="stadium.id"
      >{{ stadium.name }}</mat-option>
    </mat-select>
    <mat-error *ngIf="addForm.controls.stadiumId.invalid">Please select a stadium!</mat-error>
  </mat-form-field>
  <button type="submit" mat-raised-button>Add</button>
  <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
</form>


